<!DOCTYPE html>
<html>
  <head>
    ...
  </head>
  <body>
    <div class="public-header">
		<div class="public-container clearfloat">
		<div class="header-logo"><a href="/">SPRINGBOOT RECIPE</a></div>
		<ul class="header-nav clearfloat">
			<li class="item">
         <a th:href="@{/go-to-Recipe}">Ir a Recetas</a>
        </li>
        <li class="item">
         <a th:href="@{/go-to-Lista}">Ir a Lista</a>
        </li>
          <li class="item"><a th:href="@{/go-to-Login}">Log in</a></li>
		</ul>
		</div>
	</div>
	</div>
  </body>
</html>